@use 'lib' as *;

.promo {
	$self: &;

	padding-top: var(--header-height);
	overflow: hidden;
	padding-bottom: fluid(133px, 40px);

	&__container.container {
		@include media("<=xs") {
			width: 100%;
			margin: 0;
		}
	}

	&__main {
		border-radius: 20px;
		overflow: hidden;
		position: relative;
		z-index: 0;
		padding: fluid(70px, 30px) fluid(50px, 10px);
		margin-bottom: 32px;
	}	

	&__content {
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;

		@include media("<=xs") {
			text-align: center;
			align-items: center;
		}
	}

	&__title {
		font-weight: 800;
		font-size: fluid(44px, 20px);
		margin-bottom: fluid(40px, 16px);
		position: relative;
		z-index: 1;

		@include media("<=xs") {
			text-align: center;
			max-width: 341px;
		}
	}

	&__desc {
		font-size: fluid(23px, 18px);
		max-width: 50%;
		margin-bottom: fluid(40px, 30px);
		position: relative;
		z-index: 1;

		@include media("<=xs") {
			text-align: center;
			max-width: 286px;
		}
	}

	&__cards {
		position: absolute;
		z-index: 0;
		right: 0; top: 72px;
		display: flex;
		flex-direction: row;
		gap: 20px;

		@include media("<=xlg") {
			width: 100%;
			position: static;
			flex-direction: column;
			margin-bottom: 30px;
		}
	}

	&__card {
		width: 265px; height: 220px;
		position: relative;
		border-radius: 20px;
		overflow: hidden;

		&:nth-child(1) {
			transform: rotate(-4deg);
			margin-top: 44px;

			@include media("<=xlg") {
				margin-top: 0;
				margin-right: auto;
			}
		}

		&:nth-child(2) {
			transform: rotate(3deg);

			@include media("<=xlg") {
				margin-top: -70px;
				margin-left: auto;
			}
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			inset: 0;
		}
	}

	&__card-title {
		@include flex-center;
		position: absolute;
		z-index: 1;
		background: #FFFFFF99;
		min-width: 155px; height: fluid(48px, 40px);
		font-size: fluid(26px, 16px);
		font-weight: 800;
		border-radius: 20px 0px 20px 0px;
	}

	&__buttons {
		display: flex;
		flex-direction: row;
		gap: 16px;
		position: relative;
		z-index: 1;
		flex-wrap: wrap;

		@include media("<=xs") {
			justify-content: center;
		}
	}

	&__btn {
		@include flex-center;

		width: 100%;
		max-width: 270px;
		min-height: 60px;
		text-align: center;
		background: var(--orange);
		font-size: fluid(20px, 16px);
		border-radius: 50px;
		color: #fff;
		border: 1px solid var(--orange);
	}

	&__btn-border {
		@include flex-center;

		width: 100%;
		max-width: 270px;
		min-height: 60px;
		text-align: center;
		background: #2E2E2E;
		font-size: fluid(20px, 16px);
		border-radius: 50px;
		color: #fff;
		border: 1px solid var(--orange);
	}

	&__card-img {

	}

	&__card-info {

	}

	&__card-text {

	}

	&__bg {
		position: absolute;
		inset: 0;
		object-fit: cover;
		width: 100%; height: 100%;
	}

	&__advs {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;

		@include media("<=xlg") {
			grid-template-columns: repeat(2, 1fr);
		}

		@include media("<=sm") {
			grid-template-columns: 1fr;
		}
	}

	&__adv {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 20px;
		color: #fff;
		border-radius: 20px;
		background: linear-gradient(90deg, #D5F2FF 0%, #0015FF 100%);
		padding: 10px 20px;
	}

	&__adv-img {
		width: fluid(120px, 74px);
		object-fit: contain;
	}

	&__adv-info {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	&__adv-title {
		font-size: 22px;
		font-weight: 700;
	}

}
