@use 'lib' as *;

.steps {
	$self: &;

	padding-bottom: fluid(100px, 70px);

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__title {
		margin-bottom: 20px;
		font-size: fluid(40px, 28px);
		font-weight: 600;
		background: linear-gradient(90deg, #130890 0%, #000000 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
		text-align: center;
	}

	&__desc {
		margin-bottom: 26px;
		font-size: fluid(24px, 16px);
		text-align: center;
	}

	&__items {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 30px;

		@include media("<=lg") {
			grid-template-columns: repeat(2, 1fr);
		}

		@include media("<=xs") {
			grid-template-columns: 100%;
		}
	}

	&__item {
		padding: 20px 32px 32px 32px;
		border-radius: 10px;
		background: #EFF3F8;
		display: flex;
		flex-direction: column;
		position: relative;
	}

	&__item-num {
		display: flex;
		min-width: 80px;
		width: fit-content;
		font-size: 15px;
		font-weight: 600;
		padding: 12px 7px;
		background: #fff;
		border-radius: 10px;
		margin-bottom: 12px;
	}

	&__item-title {
		font-size: fluid(24px, 20px);
		font-weight: 700;
		margin-bottom: 10px;
	}

	&__item-desc {}

	&__item-img {}

}