<footer class="footer"> 
    <div class="footer__container container">
        <div class="footer__main">
            <div class="footer__column">
                <a href="#" class="footer__logo">
                    <img loading="lazy" src="./img/logo.svg" alt="">
                </a>
                <p class="footer__desc">
                    Работаем по всем районам <br> Московского региона
                </p>
            </div>
            <div class="footer__column">
                <h4 class="footer__column-title">Контакты</h4>
                <a href="#" class="footer__number">+7 (999) 805-09-55</a>
                <a href="#" class="footer__mail">potolocniy@mail.ru   </a>
                <div class="footer__socials">
                    <a href="#" class="footer__social">
                        <img loading="lazy" src="./img/icons/tg.svg" alt="">
                    </a>
                    <a href="#" class="footer__social">
                        <img loading="lazy" src="./img/icons/wa.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="footer__column">
                <h4 class="footer__column-title">Меню</h4>
                <ul class="footer__list">
                    <li class="footer__list-item"><a href="#">О компании</a></li>
                    <li class="footer__list-item"><a href="#">Услуги</a></li>
                    <li class="footer__list-item"><a href="#">Портфолио</a></li>
                    <li class="footer__list-item"><a href="#">Статьи</a></li>
                    <li class="footer__list-item"><a href="#">Отзывы</a></li>
                    <li class="footer__list-item"><a href="#">Ответы на вопросы</a></li>
                    <li class="footer__list-item"><a href="#">Контакты</a></li>
                </ul>
            </div>
            <div class="footer__column">
                <h4 class="footer__column-title">Услуги</h4>
                <ul class="footer__list">
                    <li class="footer__list-item"><a href="#">Слив воды с натяжного потолка</a></li>
                    <li class="footer__list-item"><a href="#">Обработка против грибка и плесени</a></li>
                    <li class="footer__list-item"><a href="#">Сушка потолка после затопления</a></li>
                    <li class="footer__list-item"><a href="#">Ремонт натяжного потолка</a></li>
                    <li class="footer__list-item"><a href="#">Установка люстр</a></li>
                </ul>
            </div>
        </div>
        <div class="footer__bottom">
            <p class="footer__c">© 2025. Все права защищены. Не является публичной офертой.</p>
            <a href="#" class="footer__policy">Политика конфиденциальности</a>
        </div>
    </div>
</footer> 

<!-- @@include("_sprite.svg") -->
<script src="js/common.js?v=0"></script> 
</body> 
</html>