<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="stylesheet" href="css/style.css?v=0">
	<link rel="stylesheet" href="css/swiper.css?v=0">
	<link rel="stylesheet" href="css/fancybox.css?v=0">
	<title></title>
	<script src="https://api-maps.yandex.ru/2.1/?apikey=d41a53f1-28a6-4072-b94a-46f4fbb1874c&lang=ru_RU"
		type="text/javascript"></script>
	<script type="text/javascript">
		ymaps.ready(init);
		function init() {
			var myMap = new ymaps.Map(document.getElementById('map'), {
				center: [55.76, 37.64],
				zoom: 7
			});
		}
	</script>
</head>

<body @@if(this.id){id="@@id" }>