@use 'lib' as *;

.reviews {
	$self: &;

	padding-bottom: fluid(100px, 50px);

	&__container {

	}

	&__title {
		font-size: fluid(48px, 28px);
		font-weight: 800;
		margin-bottom: 40px;

		b {
			color: var(--orange);
		}

		@include media("<=xs") {
			text-align: center;
		}
	}

}
