@use 'lib' as *;

.articles {
	$self: &;

	padding-bottom: fluid(100px, 70px);
	overflow: hidden;

	&__container {

	}

	&__title {
		font-size: fluid(40px, 28px);
		font-weight: 600;
		margin-bottom: 28px;
		background: linear-gradient(90deg, #130890 0%, #000000 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
		width: fit-content;

		b {
			color: var(--red);
		}

		@include media("<=xs") {
			text-align: center;
		}
	}

	&__items.swiper {
		margin-bottom: 30px;
		overflow: visible;
	}

	&__item {
		display: flex;
		flex-direction: column;

		@include media("<=xs") {
			align-items: center;
		}
	}

	&__item-img {
		width: 100%;
		aspect-ratio: 313 / 218;
		object-fit: cover;
		margin-bottom: 24px;
		border-radius: 10px;
	}

	&__item-title {
		font-weight: 700;
	}

	&__link {
		@include flex-center;
		font-size: 20px;
		padding: 17px;
		width: 100%;
		max-width: 420px;
		background: var(--blue-gradient);
		color: #fff;
		font-weight: 700;
		border-radius: 50px;
	}	

}
