@use 'lib' as *;

.articles {
	$self: &;

	padding-bottom: fluid(100px, 70px);

	&__container {

	}

	&__title {
		font-size: fluid(40px, 28px);
		font-weight: 800;
		max-width: 590px;
		margin-bottom: fluid(52px, 28px);

		b {
			color: var(--orange);
		}

		@include media("<=xs") {
			text-align: center;
		}
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: fluid(55px, 32px);
		margin-bottom: fluid(60px, 40px);

		@include media("<=xlg") {
			grid-template-columns: repeat(2, 1fr);
		}

		@include media("<=xs") {
			grid-template-columns: 1fr;
		}
	}

	&__item {
		display: flex;
		flex-direction: column;

		@include media("<=xs") {
			align-items: center;
		}
	}

	&__item-img {
		width: 100%;
		aspect-ratio: 300 / 180;
		object-fit: cover;
		margin-bottom: 24px;
		max-width: 300px;
	}

	&__item-title {
		font-weight: 700;
	}

	&__link {
		@include flex-center;
		font-size: 20px;
		padding: 17px;
		width: 100%;
		max-width: 420px;
		background: var(--orange);
		color: #fff;
		font-weight: 700;
		border-radius: 10px;
	}	

}
