@use 'lib' as *;

.gallery {
	$self: &;

	padding-bottom: fluid(160px, 75px);

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	&__title {
		font-size: fluid(40px, 28px);
		font-weight: 800;
		margin-bottom: fluid(32px, 24px);

		b {
			color: var(--orange);
		}
	}

	&__desc {
		font-size: fluid(28px, 20px);
		margin-bottom: fluid(60px, 32px);
	}

	&__swiper {
		width: 100%;
		margin-bottom: 65px;


		.swiper-slide {
			height: 300px;
			border-radius: 20px;
			overflow: hidden;
			cursor: pointer;

			img {
				width: 100%; height: 100%;
				object-fit: cover;
				object-position: left;
			}
		}
	}

	&__link {
		padding: 16px;
		background: var(--orange);
		font-weight: 700;
		color: #fff;
		font-size: fluid(20px, 16px);
		width: 100%;
		max-width: 420px;
		border-radius: 10px;
	}

}
