@use 'lib' as *;

.gallery {
	$self: &;

	padding-bottom: fluid(160px, 75px);

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	&__title {
		font-size: fluid(40px, 28px);
		font-weight: 700;
		margin-bottom: fluid(32px, 24px);
		background: linear-gradient(90deg, #130890 0%, #000000 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;

		b {
			font-weight: 700;
			text-transform: uppercase;
		}
	}

	&__desc {
		font-size: fluid(28px, 20px);
		margin-bottom: fluid(60px, 32px);
	}

	&__swiper {
		width: 100%;
		margin-bottom: fluid(65px, 30px);
	}

	&__slide {
		img {
			aspect-ratio: 1 / 1;
			object-fit: cover;
			width: 100%;
			border-radius: 20px;
			margin-bottom: 20px;
			cursor: pointer;
		}
	}

	&__slide-text {
		text-align: start;
		padding-left: 10px;
		font-size: 15.6px;
	}

	&__link {
		padding: 16px;
		background: var(--blue-gradient);
		font-weight: 700;
		color: #fff;
		font-size: fluid(20px, 16px);
		width: 100%;
		max-width: 420px;
		border-radius: 50px;
	}

}