@use 'lib' as *;

.price {
	$self: &;

	padding-bottom: 80px;

	&__container {
		display: flex;
		flex-direction: column;
	}

	&__title {
		margin-bottom: 24px;
		background: linear-gradient(90deg, #130890 0%, #000000 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
		font-size: fluid(40px, 28px);
		font-weight: 600;
		align-self: center;
	}

	&__list {
		display: flex;
		flex-direction: column;
		align-self: center;
		max-width: 960px;
		width: 100%;
		max-height: fluid(500px, 300px);
		overflow-y: auto;
	}

	&__item {
		width: 100%;
		padding: 12px 0px;
		border-bottom: 1px solid #E6E6E6;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		gap: 24px;
	}

}
