@use 'lib' as *;

.callback {
	$self: &;

	padding-bottom: fluid(100px, 54px);

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__title {
		font-weight: 800;
		font-size: fluid(40px, 28px);
		margin-bottom: fluid(62px, 20px);

		b {
			color: var(--orange);
		}

		@include media("<=xs") {
			text-align: center;
		}
	}

	&__cards {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: 20px;
		margin-bottom: fluid(64px, 24px);

		@include media("<=xlg") {
			grid-template-columns: repeat(3, 1fr);
		}

		@include media("<=sm") {
			grid-template-columns: repeat(2, 1fr);
		}

		@include media("<=xs") {
			grid-template-columns: 1fr;
		}
	}

	&__card {
		display: flex;
		flex-direction: row;
		align-items: center;
		background: #EFF3F8;
		border-radius: 6px;
		padding: 10px;
		gap: 20px;
	}

	&__card-icon {
		@include flex-center;
		width: 50px; height: 50px;
		background-color: #fff;
		flex: 0 0 auto;
		border-radius: 6px;
		box-shadow: 0px 6px 20px 0px #0078BE33;

		img {
			width: 32px; height: 32px;
		}
	}

	&__main {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 535px;
		gap: 22px;

		@include media("<=xlg") {
			grid-template-columns: 1fr;
		}
	}

	&__side {
		padding: 48px 32px;
		background: #EFF3F8;
		border-radius: 10px;
	}

	&__desc {
		font-size: fluid(23px, 18px);
		margin-bottom: 28px;
		max-width: 670px;
	}

	&__table {
		margin-bottom: fluid(46px, 35px);
	}

	&__table-row {
		padding: 12px 0px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		font-size: fluid(20px, 14px);
		font-weight: 700;
		gap: 12px;

		b {
			font-size: fluid(18px, 14px);
			font-weight: 600;
		}

		&:not(:last-child) {
			border-bottom: 1px solid #C3C3C3;
		}
	}

	&__bottom {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: fluid(36px, 4px);
	}

	&__text {
		max-width: 502px;
	}

	&__social {
		width: 58px; height: 58px;
		flex: 0 0 auto;

		img {
			width: 100%; height: 100%;
			object-fit: cover;
		}
	}

	&__form {
		display: flex;
		flex-direction: column;
	}

	&__inputs {
		display: flex;
		flex-direction: column;
		gap: 18px;
		margin-bottom: 34px;
	}

	&__btn {
		@include flex-center;
		padding: 14px;
		width: 100%;
		background: var(--orange);
		font-size: 20px;
		color: #fff;
		font-weight: 800;
		border-radius: 6px;
		margin-bottom: 26px;
	}

	&__agree {
		display: flex;
		flex-direction: row;
		align-items: center;
		font-size: 14px;
		gap: 12px;
		cursor: pointer;

		a {
			text-decoration: underline;
		}
	}

}
