@use 'lib' as *;

.footer {
	$self: &;

	background: #EFF3F8;
	padding-top: 44px;
	padding-bottom: 20px;

	&__container {
		display: flex;
		flex-direction: column;
		gap: 60px;
	}

	&__main {
		display: grid;
		grid-template-columns: 35% auto auto auto;
		justify-content: space-between;
		gap: 40px 24px;

		@include media("<=md") {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&__column {
		display: flex;
		flex-direction: column;

		@include media("<=md") {
			
			&:nth-child(1) {
				grid-column: span 2;
			}
		}
	}

	&__logo {
		margin-bottom: 16px;

		img {
			height: 50px;
			object-fit: contain;
		}
	}

	&__desc {}

	&__column-title {
		margin-bottom: 32px;
		font-size: 18px;
		font-weight: 700;
	}

	&__number {
		color: var(--red);
		font-weight: 800;
		margin-bottom: 8px;
	}

	&__mail {
		margin-bottom: 16px;
	}

	&__socials {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 10px;
	}

	&__social {
		@include flex-center;

		width: 37px;
		height: 37px;
		background: #fff;
		box-shadow: 0px 4px 4px 0px #00000040;
		border-radius: 10px;

		img {
			width: 16px;
			height: 16px
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}

	&__list-item {}

	&__bottom {}

	&__c {
		margin-bottom: 10px;
		font-size: 14px;
	}

	&__policy {
		text-decoration: underline;
		font-size: 14px;
	}

}