* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr,
iframe {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
}

input {
  outline: none;
  border: none;
  background: none;
}

textarea {
  outline: none;
  border: none;
  background: none;
}

:root {
  --size: 16px;
  --background: #FFFFFF;
  --text: #242132;
  --orange: #FF6403;
  --container: 1375px;
  --gap: 30px;
  --trans: 0.3s ease-in-out;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.services {
  padding-bottom: clamp(40px, -5px + 9.375vw, 130px);
}

.services__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.services__title {
  font-size: clamp(24px, 16px + 1.6666666667vw, 40px);
  font-weight: 800;
  margin-bottom: clamp(12px, 8px + 0.8333333333vw, 20px);
  text-align: center;
}

.services__title b {
  color: var(--orange);
}

.services__desc {
  text-align: center;
  max-width: 835px;
  font-size: clamp(16px, 12px + 0.8333333333vw, 24px);
  margin-bottom: clamp(24px, 6px + 3.75vw, 60px);
}

.services__tabs-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: clamp(12px, 6px + 1.3541666667vw, 25px);
  margin-bottom: clamp(30px, 27px + 0.625vw, 36px);
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.services__tabs-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: clamp(46px, 39px + 1.4583333333vw, 60px);
  border-radius: 6px;
  background: #EFF3F8;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-weight: 700;
  font-size: 14px;
  padding: 12px 20px;
}

.services__tabs-btn.active {
  background: var(--orange);
  color: #fff;
}

.services__tab {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: clamp(24px, 6px + 3.75vw, 60px);
}

.services__tab.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: fade 0.3s ease-in-out;
  animation: fade 0.3s ease-in-out;
}

.services__tab-img {
  width: 600px;
  max-width: 50%;
  aspect-ratio: 600/400;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 16px;
}

.services__tab-content {
  padding-top: 30px;
}

.services__tab-title {
  font-weight: 700;
  font-size: 26px;
  margin-bottom: clamp(12px, 7px + 1.0416666667vw, 22px);
  max-width: 541px;
}

.services__tab-text {
  max-width: 659px;
  margin-bottom: clamp(20px, 10px + 2.0833333333vw, 40px);
}

.services__tab-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 6px;
  border: 1px solid var(--orange);
  padding: 16px;
  font-weight: 700;
  width: 100%;
  max-width: 245px;
}

.reviews {
  padding-bottom: clamp(50px, 25px + 5.2083333333vw, 100px);
}

.reviews__title {
  font-size: clamp(28px, 18px + 2.0833333333vw, 48px);
  font-weight: 800;
  margin-bottom: 40px;
}

.reviews__title b {
  color: var(--orange);
}

.promo {
  padding-top: var(--header-height);
  overflow: hidden;
  padding-bottom: clamp(40px, -7px + 9.6875vw, 133px);
}

.promo__main {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  z-index: 0;
  padding: clamp(30px, 10px + 4.1666666667vw, 70px) clamp(10px, -10px + 4.1666666667vw, 50px);
  margin-bottom: 32px;
}

.promo__content {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.promo__title {
  font-weight: 800;
  font-size: clamp(20px, 8px + 2.5vw, 44px);
  margin-bottom: clamp(16px, 4px + 2.5vw, 40px);
  position: relative;
  z-index: 1;
}

.promo__desc {
  font-size: clamp(18px, 16px + 0.5208333333vw, 23px);
  max-width: 50%;
  margin-bottom: clamp(30px, 25px + 1.0416666667vw, 40px);
  position: relative;
  z-index: 1;
}

.promo__cards {
  position: absolute;
  z-index: 0;
  right: 0;
  top: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 20px;
}

.promo__card {
  width: 265px;
  height: 220px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.promo__card:nth-child(1) {
  -webkit-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  transform: rotate(-4deg);
  margin-top: 44px;
}

.promo__card:nth-child(2) {
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}

.promo__card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  inset: 0;
}

.promo__card-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  background: rgba(255, 255, 255, 0.6);
  min-width: 155px;
  height: clamp(40px, 36px + 0.8333333333vw, 48px);
  font-size: clamp(16px, 11px + 1.0416666667vw, 26px);
  font-weight: 800;
  border-radius: 20px 0px 20px 0px;
}

.promo__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 16px;
  position: relative;
  z-index: 1;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.promo__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  max-width: 270px;
  min-height: 60px;
  text-align: center;
  background: var(--orange);
  font-size: clamp(16px, 14px + 0.4166666667vw, 20px);
  border-radius: 50px;
  color: #fff;
  border: 1px solid var(--orange);
}

.promo__btn-border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  max-width: 270px;
  min-height: 60px;
  text-align: center;
  background: #2E2E2E;
  font-size: clamp(16px, 14px + 0.4166666667vw, 20px);
  border-radius: 50px;
  color: #fff;
  border: 1px solid var(--orange);
}

.promo__bg {
  position: absolute;
  inset: 0;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.promo__advs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.promo__adv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
  color: #fff;
  border-radius: 20px;
  background: -webkit-gradient(linear, left top, right top, from(#D5F2FF), to(#0015FF));
  background: linear-gradient(90deg, #D5F2FF 0%, #0015FF 100%);
  padding: 10px 20px;
}

.promo__adv-img {
  width: clamp(74px, 51px + 4.7916666667vw, 120px);
  -o-object-fit: contain;
  object-fit: contain;
}

.promo__adv-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
}

.promo__adv-title {
  font-size: 22px;
  font-weight: 700;
}

.kills {
  background: #EFF3F8;
  padding: 50px 0px;
  margin-bottom: clamp(50px, 25px + 5.2083333333vw, 100px);
}

.kills__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: clamp(40px, 0px + 8.3333333333vw, 120px);
}

.kills__title {
  font-size: clamp(22px, 13px + 1.875vw, 40px);
  font-weight: 800;
  margin-bottom: 20px;
}

.kills__title b {
  color: var(--orange);
}

.kills__desc {
  margin-bottom: clamp(24px, 15px + 1.875vw, 42px);
  font-size: clamp(19px, 17px + 0.5208333333vw, 24px);
}

.kills__columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
  grid-template-columns: repeat(6, 1fr);
  gap: 28px;
}

.kills__column {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.kills__column:nth-child(1) {
  -ms-grid-column-span: 3;
  grid-column: span 3;
}

.kills__column:nth-child(2) {
  -ms-grid-column-span: 3;
  grid-column: span 3;
}

.kills__column-title {
  font-size: 23px;
  margin-bottom: 24px;
  font-weight: 500;
}

.kills__column-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 24px;
}

.kills__column-item {
  list-style: disc;
  margin-left: 28px;
}

.kills__card {
  font-size: 20px;
  font-weight: 800;
  color: var(--orange);
  padding: 15px 7px;
  background: #fff;
  border-radius: 20px;
  text-align: center;
}

.kills__img {
  width: 100%;
  max-width: 444px;
  aspect-ratio: 444/592;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px;
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr -webkit-max-content;
  -ms-grid-rows: 1fr max-content;
  grid-template-rows: 1fr -webkit-max-content;
  grid-template-rows: 1fr max-content;
  -webkit-transition: grid-template-rows var(--trans);
  transition: grid-template-rows var(--trans);
  transition: grid-template-rows var(--trans), -ms-grid-rows var(--trans);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header.is-scroll {
  -ms-grid-rows: 0fr -webkit-max-content;
  -ms-grid-rows: 0fr max-content;
  grid-template-rows: 0fr -webkit-max-content;
  grid-template-rows: 0fr max-content;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}

.header.is-open .header__burger img:nth-child(1) {
  opacity: 0;
}

.header.is-open .header__burger img:nth-child(2) {
  opacity: 1;
}

.header.is-open .header__menu {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.header__top {
  background: #EFF3F8;
  overflow: hidden;
}

.header__top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 7px 0px;
}

.header__top-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 45px;
}

.header__link {
  color: #606060;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}

.header__social {
  width: 37px;
  height: 37px;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__social img {
  width: 16px;
  height: 16px;
}

.header__tel {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 800;
  color: var(--orange);
}

.header__tel img {
  width: 20px;
  height: 20px;
}

.header__main {
  background: #fff;
}

.header__main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 8px 0px;
  position: relative;
  z-index: 100;
}

.header__main-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 25px;
}

.header__main-side b {
  font-weight: 400;
}

.header__logo img {
  height: 67px;
  -o-object-fit: contain;
  object-fit: contain;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 40px;
}

.header__sub-menu {
  position: absolute;
  top: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all var(--trans);
  transition: all var(--trans);
  padding-top: 12px;
}

.header__sub-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 100%;
  background: #fff;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 10px;
  padding: 10px 20px;
}

.header__list-open {
  width: 12px;
  height: 24px;
  position: relative;
}

.header__list-open::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  width: 12px;
  height: 12px;
  background: url("../img/icons/arrow-down.svg") no-repeat center/contain;
  -webkit-transition: all var(--trans);
  transition: all var(--trans);
}

.header__list-item {
  font-size: 18px;
  font-weight: 700;
  position: relative;
}

.header__list-item_sub-menu {
  -webkit-transition: grid-template-rows var(--trans);
  transition: grid-template-rows var(--trans);
  transition: grid-template-rows var(--trans), -ms-grid-rows var(--trans);
}

.header__list-item_sub-menu > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
}

.header__list-item_sub-menu.is-open {
  -ms-grid-rows: -webkit-max-content 1fr;
  -ms-grid-rows: max-content 1fr;
  grid-template-rows: -webkit-max-content 1fr;
  grid-template-rows: max-content 1fr;
}

.header__list-item_sub-menu.is-open .header__list-open::after {
  -webkit-transform: rotate(180deg) translateY(50%);
  -ms-transform: rotate(180deg) translateY(50%);
  transform: rotate(180deg) translateY(50%);
}

.header__burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  background: #fff;
  position: relative;
}

.header__burger img {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: opacity var(--trans);
  transition: opacity var(--trans);
}

.header__burger img:nth-child(1) {
  opacity: 1;
}

.header__burger img:nth-child(2) {
  opacity: 0;
}

.header__menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #ffffff;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all var(--trans);
  transition: all var(--trans);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 16px;
}

.header__tel-mobile {
  width: 24px;
  height: 24px;
}

.header__tel-mobile img {
  width: 100%;
  height: 100%;
}

.header__main-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 16px;
}

.gallery {
  padding-bottom: clamp(75px, 33px + 8.8541666667vw, 160px);
}

.gallery__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.gallery__title {
  font-size: clamp(28px, 22px + 1.25vw, 40px);
  font-weight: 800;
  margin-bottom: clamp(24px, 20px + 0.8333333333vw, 32px);
}

.gallery__title b {
  color: var(--orange);
}

.gallery__desc {
  font-size: clamp(20px, 16px + 0.8333333333vw, 28px);
  margin-bottom: clamp(32px, 18px + 2.9166666667vw, 60px);
}

.gallery__swiper {
  width: 100%;
  margin-bottom: 65px;
}

.gallery__swiper .swiper-slide {
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}

.gallery__swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: left;
  object-position: left;
}

.gallery__link {
  padding: 16px;
  background: var(--orange);
  font-weight: 700;
  color: #fff;
  font-size: clamp(16px, 14px + 0.4166666667vw, 20px);
  width: 100%;
  max-width: 420px;
  border-radius: 10px;
}

.footer {
  background: #EFF3F8;
  padding-top: 44px;
  padding-bottom: 20px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 60px;
}

.footer__main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35% auto auto auto;
  grid-template-columns: 35% auto auto auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 40px 24px;
}

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer__logo {
  margin-bottom: 16px;
}

.footer__logo img {
  height: 67px;
  -o-object-fit: contain;
  object-fit: contain;
}

.footer__column-title {
  margin-bottom: 32px;
  font-size: 18px;
  font-weight: 700;
}

.footer__number {
  color: var(--orange);
  font-weight: 800;
  margin-bottom: 8px;
}

.footer__mail {
  margin-bottom: 16px;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 37px;
  height: 37px;
  background: #fff;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 10px;
}

.footer__social img {
  width: 16px;
  height: 16px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 12px;
}

.footer__c {
  margin-bottom: 10px;
  font-size: 14px;
}

.footer__policy {
  text-decoration: underline;
  font-size: 14px;
}

.custom-input {
  padding: 14px 12px;
  font-size: 15px;
  border-radius: 6px;
  border: 1px solid #AAAAAA;
  -webkit-transition: all var(--trans);
  transition: all var(--trans);
}

.custom-input:focus {
  border-color: var(--orange);
}

textarea.custom-input {
  min-height: 100px;
}

.custom-checkbox {
  width: 24px;
  height: 24px;
  border-radius: 6px;
  border: 1px solid var(--orange);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  cursor: pointer;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.custom-checkbox::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background: var(--orange);
  opacity: 0;
  -webkit-transition: all var(--trans);
  transition: all var(--trans);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.custom-checkbox:checked::after {
  opacity: 1;
}

.container {
  margin-left: auto;
  margin-right: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: min(var(--container), 100% - var(--gap) * 2);
}

.container_abs {
  position: absolute;
  left: max(var(--gap), (100% - var(--container)) / 2);
}

.container_right {
  width: min(100% - var(--gap), 100% - (100% - var(--container)) / 2);
  margin-right: unset;
}

.container_left {
  width: min(100% - var(--gap), 100% - (100% - var(--container)) / 2);
  margin-left: unset;
}

.container__half {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: min(var(--container) / 2, 50%);
}

.container__full {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: min(var(--container), 100%);
}

.callback {
  padding-bottom: clamp(54px, 31px + 4.7916666667vw, 100px);
}

.callback__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.callback__title {
  font-weight: 800;
  font-size: clamp(28px, 22px + 1.25vw, 40px);
  margin-bottom: clamp(20px, -1px + 4.375vw, 62px);
}

.callback__title b {
  color: var(--orange);
}

.callback__cards {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin-bottom: clamp(24px, 4px + 4.1666666667vw, 64px);
}

.callback__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #EFF3F8;
  border-radius: 6px;
  padding: 10px;
  gap: 20px;
}

.callback__card-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #fff;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 6px;
  -webkit-box-shadow: 0px 6px 20px 0px rgba(0, 120, 190, 0.2);
  box-shadow: 0px 6px 20px 0px rgba(0, 120, 190, 0.2);
}

.callback__card-icon img {
  width: 32px;
  height: 32px;
}

.callback__main {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 535px;
  grid-template-columns: 1fr 535px;
  gap: 22px;
}

.callback__side {
  padding: 48px 32px;
  background: #EFF3F8;
  border-radius: 10px;
}

.callback__desc {
  font-size: clamp(18px, 16px + 0.5208333333vw, 23px);
  margin-bottom: 28px;
  max-width: 670px;
}

.callback__table {
  margin-bottom: clamp(35px, 30px + 1.1458333333vw, 46px);
}

.callback__table-row {
  padding: 12px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: clamp(14px, 11px + 0.625vw, 20px);
  font-weight: 700;
  gap: 12px;
}

.callback__table-row b {
  font-size: clamp(14px, 12px + 0.4166666667vw, 18px);
  font-weight: 600;
}

.callback__table-row:not(:last-child) {
  border-bottom: 1px solid #C3C3C3;
}

.callback__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: clamp(4px, -12px + 3.3333333333vw, 36px);
}

.callback__text {
  max-width: 502px;
}

.callback__social {
  width: 58px;
  height: 58px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.callback__social img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.callback__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.callback__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 34px;
}

.callback__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 14px;
  width: 100%;
  background: var(--orange);
  font-size: 20px;
  color: #fff;
  font-weight: 800;
  border-radius: 6px;
  margin-bottom: 26px;
}

.callback__agree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  gap: 12px;
  cursor: pointer;
}

.callback__agree a {
  text-decoration: underline;
}

.articles {
  padding-bottom: clamp(70px, 55px + 3.125vw, 100px);
}

.articles__title {
  font-size: clamp(28px, 22px + 1.25vw, 40px);
  font-weight: 800;
  max-width: 590px;
  margin-bottom: clamp(28px, 16px + 2.5vw, 52px);
}

.articles__title b {
  color: var(--orange);
}

.articles__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  gap: clamp(32px, 21px + 2.3958333333vw, 55px);
  margin-bottom: clamp(40px, 30px + 2.0833333333vw, 60px);
}

.articles__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.articles__item-img {
  width: 100%;
  aspect-ratio: 300/180;
  -o-object-fit: cover;
  object-fit: cover;
  margin-bottom: 24px;
  max-width: 300px;
}

.articles__item-title {
  font-weight: 700;
}

.articles__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 20px;
  padding: 17px;
  width: 100%;
  max-width: 420px;
  background: var(--orange);
  color: #fff;
  font-weight: 700;
  border-radius: 10px;
}

.answers {
  padding-bottom: clamp(50px, 20px + 6.25vw, 110px);
}

.answers__title {
  margin-bottom: 24px;
  font-size: clamp(27px, 21px + 1.3541666667vw, 40px);
  font-weight: 800;
  text-align: center;
}

.answers__title b {
  color: var(--orange);
}

.answers__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 0 clamp(24px, -11px + 7.2916666667vw, 94px);
}

.answers__item {
  border-bottom: 1px solid #3C3C3C;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-max-content 0fr;
  -ms-grid-rows: max-content 0fr;
  grid-template-rows: -webkit-max-content 0fr;
  grid-template-rows: max-content 0fr;
  -webkit-transition: all var(--trans);
  transition: all var(--trans);
}

.answers__item.active {
  -ms-grid-rows: -webkit-max-content 1fr;
  -ms-grid-rows: max-content 1fr;
  grid-template-rows: -webkit-max-content 1fr;
  grid-template-rows: max-content 1fr;
}

.answers__item.active .answers__item-content {
  padding-bottom: 36px;
}

.answers__item.active .answers__item-title::after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.answers__item-title {
  padding: 36px 0px;
  font-size: 20px;
  font-weight: 700;
  color: rgba(12, 31, 40, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
}

.answers__item-title span {
  padding-right: 36px;
}

.answers__item-title::after {
  content: "";
  display: block;
  height: 10px;
  width: 18px;
  background: url("../img/icons/arrow-down.svg") center/contain no-repeat;
  -webkit-transition: all var(--trans);
  transition: all var(--trans);
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.answers__item-content {
  overflow: hidden;
  -webkit-transition: all var(--trans);
  transition: all var(--trans);
}

.about {
  padding-bottom: clamp(60px, 20px + 8.3333333333vw, 140px);
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: clamp(30px, -13px + 8.9583333333vw, 116px);
}

.about__side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 22px;
}

.about__title {
  font-size: clamp(28px, 22px + 1.25vw, 40px);
  font-weight: 800;
  margin-bottom: clamp(8px, -3px + 2.2916666667vw, 30px);
}

.about__title b {
  color: var(--orange);
}

.about__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 24px;
}

.about__image {
  width: 100%;
  max-width: 600px;
  aspect-ratio: 600/400;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter_18pt-Black.woff") format("woff"), url("../fonts/Inter_18pt-Black.woff2") format("woff2"), url("../fonts/Inter_18pt-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: "normal";
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter_18pt-ExtraBold.woff") format("woff"), url("../fonts/Inter_18pt-ExtraBold.woff2") format("woff2"), url("../fonts/Inter_18pt-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: "normal";
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter_18pt-Bold.woff") format("woff"), url("../fonts/Inter_18pt-Bold.woff2") format("woff2"), url("../fonts/Inter_18pt-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: "normal";
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter_18pt-SemiBold.woff") format("woff"), url("../fonts/Inter_18pt-SemiBold.woff2") format("woff2"), url("../fonts/Inter_18pt-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: "normal";
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter_18pt-Medium.woff") format("woff"), url("../fonts/Inter_18pt-Medium.woff2") format("woff2"), url("../fonts/Inter_18pt-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: "normal";
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter_18pt-Regular.woff") format("woff"), url("../fonts/Inter_18pt-Regular.woff2") format("woff2"), url("../fonts/Inter_18pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: "normal";
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter_18pt-Light.woff") format("woff"), url("../fonts/Inter_18pt-Light.woff2") format("woff2"), url("../fonts/Inter_18pt-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: "normal";
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter_18pt-ExtraLight.woff") format("woff"), url("../fonts/Inter_18pt-ExtraLight.woff2") format("woff2"), url("../fonts/Inter_18pt-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: "normal";
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter_18pt-Thin.woff") format("woff"), url("../fonts/Inter_18pt-Thin.woff2") format("woff2"), url("../fonts/Inter_18pt-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: "normal";
}

body,
html {
  background-color: var(--background);
  font-size: var(--size);
  color: var(--text);
  font-family: "Inter";
  line-height: 1.2;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  min-height: 100vh;
}

.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin-top: auto;
}

.sprite {
  display: none;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

@media (min-width: 961px) {
  .header__list-item_sub-menu:hover .header__list-open::after {
    -webkit-transform: rotate(180deg) translateY(50%);
    -ms-transform: rotate(180deg) translateY(50%);
    transform: rotate(180deg) translateY(50%);
  }

  .header__list-item_sub-menu:hover .header__sub-menu {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  .header__main-mobile {
    display: none;
  }
}

@media (max-width: 1280px) {
  .promo__cards {
    width: 100%;
    position: static;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .promo__card:nth-child(1) {
    margin-top: 0;
    margin-right: auto;
  }

  .promo__card:nth-child(2) {
    margin-top: -70px;
    margin-left: auto;
  }

  .promo__advs {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .kills__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 40px;
  }

  .header__main-side b {
    display: none;
  }

  .callback__cards {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }

  .callback__main {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .articles__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1100px) {
  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 30px;
  }

  .about__side {
    padding-top: 0;
  }
}

@media (max-width: 960px) {
  .header {
    -ms-grid-rows: 0fr -webkit-max-content;
    -ms-grid-rows: 0fr max-content;
    grid-template-rows: 0fr -webkit-max-content;
    grid-template-rows: 0fr max-content;
  }

  .header__list {
    width: 100%;
    max-width: 540px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
  }

  .header__sub-menu__list {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: none;
    gap: 12px;
    padding-top: 16px;
  }

  .header__sub-menu {
    position: static;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    padding: 0px;
    overflow: hidden;
  }

  .header__list-open {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: auto;
  }

  .header__list-item_sub-menu > a {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .header__list-item_sub-menu {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: -webkit-max-content 0fr;
    -ms-grid-rows: max-content 0fr;
    grid-template-rows: -webkit-max-content 0fr;
    grid-template-rows: max-content 0fr;
  }

  .header__list-item {
    width: 100%;
  }

  .footer__main {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__column:nth-child(1) {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
}

@media (max-width: 780px) {
  .promo__advs {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .callback__cards {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .answers__items {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 640px) {
  .services__tab {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .services__tab-img {
    max-width: 100%;
    width: 100%;
  }

  .services__tab-content {
    padding-top: 0;
  }

  .services__tab-link {
    max-width: 100%;
  }

  .reviews__title {
    text-align: center;
  }

  .promo__container.container {
    width: 100%;
    margin: 0;
  }

  .promo__content {
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .promo__title {
    text-align: center;
    max-width: 341px;
  }

  .promo__desc {
    text-align: center;
    max-width: 286px;
  }

  .promo__buttons {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .kills__columns {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .kills__column:nth-child(1) {
    -ms-grid-column-span: 2;
    grid-column: span 2;
    grid-row: 2/auto;
  }

  .kills__column:nth-child(2) {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }

  .kills__column:nth-child(3) {
    grid-row: 1/auto;
  }

  .kills__column:nth-child(4) {
    grid-row: 3/auto;
  }

  .kills__img {
    aspect-ratio: 333/302;
  }

  .callback__title {
    text-align: center;
  }

  .callback__cards {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .articles__title {
    text-align: center;
  }

  .articles__items {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .articles__item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}