@use 'lib' as *;

.promo-second {
	$self: &;

	padding-bottom: 70px;

	&__container {}

	&__swiper {}

	&__slide {}

	&__slide-top {
		width: 100%;
		aspect-ratio: 16 / 9;
		position: relative;
		margin-bottom: 24px;
		border-radius: 10px;
		overflow: hidden;
	}

	&__slide-image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: top center;
	}

	&__slide-title {
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 0;
		font-size: fluid(24px, 22px);
		text-align: center;
		padding: 16px;
		font-weight: 700;
		color: #0D7CEE;
		background: rgba($color: #ffffff, $alpha: 0.8);
		font-style: italic;
	}

	&__slide-text {
		font-size: fluid(22px, 20px);


		b {
			color: #4CC2CE;
		}
	}

}