@use 'lib' as * with(
	$breakpoints: (
		'xxxs': 360px,
		'xxs': 480px,
		'xs': 640px,
		'sm': 780px,
		'md': 960px,
		'lg': 1100px,
		'xlg': 1280px,
		'xxlg': 1440px,
		'xxxlg': 1680px,
		'xxxxlg': 1928px
	)
);

@use "../blocks/**/*.scss";

@include font-face("Inter_18pt-Black", "Inter", 900);
@include font-face("Inter_18pt-ExtraBold", "Inter", 800);
@include font-face("Inter_18pt-Bold", "Inter", 700);
@include font-face("Inter_18pt-SemiBold", "Inter", 600);
@include font-face("Inter_18pt-Medium", "Inter", 500);
@include font-face("Inter_18pt-Regular", "Inter", 400);
@include font-face("Inter_18pt-Light", "Inter", 300);
@include font-face("Inter_18pt-ExtraLight", "Inter", 200);
@include font-face("Inter_18pt-Thin", "Inter", 100);

body, html {
	background-color: var(--background);
	font-size: var(--size);
	color: var(--text);
	font-family: "Inter";
	line-height: 1.2;
	font-weight: 400;
	display: flex;
	flex-flow: column nowrap;
	min-height: 100vh;
}

.footer {
	flex: 0 0 auto; 
	margin-top: auto; 
}

.sprite {
	display: none;
}

em { font-style: italic; }
strong { font-weight: bold; }