@use 'lib' as *;

.promo-item {
	$self: &;

	position: relative;
	padding: 70px 0px;
	overflow: hidden;
	border-radius: 20px;
	grid-template-columns: repeat(3, 1fr);
	background: #fff;

	@include media("<=md") {
		grid-template-columns: 100%;
	}

	@include media("<=md") {
		padding: 0;
		border-radius: 0;
	}

	&.swiper-slide {
		display: grid;
	}

	&_four {
		#{$self}__text {
			position: absolute;
			bottom: 80px;
			left: 0;
			padding: 20px 0px;
			padding-left: 75px;
			padding-right: 40px;
			max-width: 500px;
			font-size: 18px;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: #FFFFFFCC;
				z-index: -1;
			}

			@include media("<=md") {
				position: static;
				padding: 0;
				padding-top: 32px;
				text-align: center;
				margin-bottom: 16px;
				max-width: 100%;

				&::before {
					display: none;
				}
			}
		}

		#{$self}__desc {
			font-size: 22px;
			text-align: center;

			@include media("<=md") {
				margin-bottom: 24px;
			}
		}

		#{$self}__main {
			&::before {
				height: 150%;
			}
		}

		#{$self}__image {
			inset: 0;
			width: 100%;
			height: 100%;
		}

		#{$self}__title {
			margin-bottom: 55px;
			max-width: 440px;
			text-align: center;
			text-wrap: wrap;
		}

		#{$self}__price {
			font-size: 64px;
			font-weight: 800;
			color: #4CC2CE;
			position: relative;
			line-height: 100%;

			span {
				position: absolute;
				bottom: 90%;
				right: -50%;
				font-size: 32px;
				color: #130890;
				text-decoration: line-through;
				font-weight: 500;
			}
		}
	}

	&_third {
		#{$self}__main {
			justify-content: center;
		}

		#{$self}__title {
			text-align: center;
			max-width: 460px;
			text-wrap: wrap;
			flex-direction: column;
			align-items: center;
		}
	}

	&_second {
		#{$self}__text {
			b {
				background: #4CC2CE;
				font-size: inherit;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
				text-fill-color: transparent;
			}
		}

		#{$self}__title {
			text-align: center;
			max-width: 466px;
			text-wrap: wrap;

			span {
				font-size: fluid(32px, 24px);
			}

			b {
				background: #4CC2CE;
				font-size: inherit;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
				text-fill-color: transparent;
			}
		}
	}

	&_first {}

	&__side {
		display: flex;
		flex-direction: column;
		gap: 20px;
		z-index: 2;

		@include media("<=md") {
			background: #FFFFFFCC;
			padding: 16px;
		}
	}

	&__text {
		font-size: 24px;
		font-weight: 700;
		background: linear-gradient(90deg, #130890 0%, #000000 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}

	&__list-item {
		display: flex;
		flex-direction: row;
		align-items: start;
		gap: 8px;
		max-width: 300px;
		font-size: 18px;
		font-weight: 700;
		background: linear-gradient(90deg, #130890 0%, #000000 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;

		&::before {
			content: '';
			display: block;
			width: 18px;
			height: 18px;
			background: url("../img/checked.webp") no-repeat center / contain;
			flex: 0 0 auto;
		}
	}

	&__main {
		z-index: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 30px;

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			right: 50%;
			background: #FFFFFFFC;
			border-radius: 50%;
			height: 180%;
			transform: translate(50%, -50%);
			aspect-ratio: 1 / 1;
			filter: blur(60px);
			z-index: -1;

			@include media("<=md") {
				display: none;
			}
		}

		@include media("<=md") {
			background: #FFFFFFCC;
		}
	}

	&__desc {
		font-size: 24px;
		font-weight: 700;
		text-align: center;
		background: linear-gradient(90deg, #130890 0%, #000000 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
	}

	&__title {
		display: flex;
		flex-direction: row;
		align-items: start;
		gap: 20px;
		text-wrap: nowrap;

		span {
			font-size: fluid(40px, 24px);
			background: linear-gradient(90deg, #130890 0%, #000000 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			text-fill-color: transparent;
			font-weight: 700;
		}

		b {
			line-height: 100%;
			color: #4CC2CE;
			font-size: fluid(96px, 64px);
			font-weight: 800;
		}

		@include media("<=md") {
			order: -1;
			width: 100%;
			padding: 14px 0px;
			justify-content: center;
			background: #FFFFFFCC;
			top: 0px;
		}
	}

	&__image {
		position: absolute;
		width: 45%;
		top: 0;
		right: 0;
		height: 100%;
		z-index: 0;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		@include media("<=md") {
			height: 100%;
			width: 100%;
		}
	}

	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		font-size: 20px;
		padding: 16px;
		width: 100%;
		max-width: 270px;
		background: var(--red);
		border-radius: 30px;

		@include media("<=md") {
			margin-bottom: 32px;
		}
	}

}