@use 'lib' as *;

.header {
	$self: &;

	display: grid;
	grid-template-rows: 1fr max-content;
	transition: grid-template-rows var(--trans);
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;

	@include media("<=md") {
		grid-template-rows: 0fr max-content;
	}

	&.is-scroll {
		grid-template-rows: 0fr max-content;
		box-shadow: 0px 4px 4px 0px #00000040;

	}

	&.is-open {
		#{$self}__burger {
			img:nth-child(1) {
				opacity: 0;
			}
			img:nth-child(2) {
				opacity: 1;
			}
		}
		#{$self}__menu {
			opacity: 1;
			visibility: visible;
			pointer-events: all;
		}
	}

	&__top {
		background: #EFF3F8;
		overflow: hidden;
	}

	&__top-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 7px 0px;
	}

	&__top-side {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 45px;
	}

	&__link {
		color: #606060;
	}

	&__contacts {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 10px;
	}

	&__social {
		width: 37px;
		height: 37px;
		background: #fff;
		border-radius: 10px;
		box-shadow: 0px 4px 4px 0px #00000040;

		@include flex-center;

		img {
			width: 16px;
			height: 16px;
		}
	}

	&__tel {
		margin-left: 20px;
		display: flex;
		flex-direction: row;
		gap: 10px;
		align-items: center;
		font-weight: 800;
		color: var(--orange);

		img {
			width: 20px;
			height: 20px;
		}
	}

	&__main {
		background: #fff;
	}

	&__main-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 8px 0px;
		position: relative;
		z-index: 100;
	}

	&__main-side {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 25px;

		b {
			font-weight: 400;

			@include media("<=xlg") {
				display: none;
			}
		}
	}

	&__logo {
		img {
			height: 67px;
			object-fit: contain;
		}
	}

	&__list {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 40px;

		@include media("<=md") {
			width: 100%;
			max-width: 540px;
			align-items: start;
			flex-direction: column;
			gap: 20px;
		}
	}

	&__sub-menu {
		position: absolute;
		top: 100%;
		width: 100%;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: all var(--trans);
		padding-top: 12px;

		&__list {
			display: flex;
			flex-direction: column;
			gap: 10px;
			width: fit-content;
			min-width: 100%;
			background: #fff;
			box-shadow: 0px 4px 4px 0px #00000040;
			border-radius: 10px;
			padding: 10px 20px;

			@include media("<=md") {
				box-shadow: none;
				background: none;
				gap: 12px;
				padding-top: 16px;
			}
		}

		@include media("<=md") {
			position: static;
			opacity: 1;
			visibility: visible;
			pointer-events: all;
			padding: 0px;
			overflow: hidden;
		}
	}

	&__list-open {
		width: 12px;
		height: 24px;
		position: relative;

		@include media("<=md") {
			flex: 1 1 auto;
			width: auto;
		}

		&::after {
			content: '';
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			display: block;
			width: 12px;
			height: 12px;
			background: url('../img/icons/arrow-down.svg') no-repeat center / contain;
			transition: all var(--trans);
		}
	}

	&__list-item {
		font-size: 18px;
		font-weight: 700;
		position: relative;

		&_sub-menu {
			transition: grid-template-rows var(--trans);

			>a {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 8px;

				@include media("<=md") {
					justify-content: space-between;
				}
			}

			@include media("<=md") {
				width: 100%;
				display: grid;
				grid-template-rows: max-content 0fr;
			}
		}

		@include media("<=md") {
			width: 100%;
		}
	}

	&__list-item_sub-menu {
		&.is-open {
			grid-template-rows: max-content 1fr;

			.header__list-open::after {
				transform: rotate(180deg) translateY(50%);
			}
		}

		@include media(">md") {

			&:hover {
				.header__list-open::after {
					transform: rotate(180deg) translateY(50%);
				}

				#{$self}__sub-menu {
					opacity: 1;
					visibility: visible;
					pointer-events: all;
				}
			}
		}
	}

	&__burger {
		@include flex-center;
		width: 45px;
		height: 45px;
		border-radius: 10px;
		box-shadow: 0px 4px 4px 0px #00000040;
		background: #fff;
		position: relative;

		img {
			width: 24px;
			height: 24px;
			position: absolute;
			top: 50%; left: 50%;
			transform: translate(-50%, -50%);
			transition: opacity var(--trans);

			&:nth-child(1) {
				opacity: 1;
			}

			&:nth-child(2) {
				opacity: 0;
			}
		}
	}

	&__menu {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: #ffffff;
		z-index: 10;

		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: all var(--trans);

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 16px;
	}

	&__tel-mobile {
		width: 24px;
		height: 24px;

		img {
			width: 100%;
			height: 100%;
		}
	}

	&__main-mobile {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 16px;

		@include media(">md") {
			display: none;
		}
	}

}