@use 'lib' as *;

.custom-input {
	$self: &;

	padding: 14px 12px;
	font-size: 15px;
	border-radius: 6px;
	border: 1px solid #AAAAAA;
	transition: all var(--trans);

	&:focus {
		border-color: var(--orange);
	}
}
textarea.custom-input {
	min-height: 100px;
}